*{
    margin : 0;
    padding : 0;
    box-sizing : border-box;
}

body{
    background-color: #abb3b2;
}

.container{
    margin-top: 50px;
}

.content{
    margin-left : 520px;
    margin-right : 520px;
    background-color : white;
    border-radius : 5px;
    box-shadow: 7px 10px 50px gray;
}

.form_controler{
    padding-top: 80px;
    padding-left: 55px;
}

.form_content,input{
    width: 400px;
}

input:focus{
    outline-color: brown;
    box-shadow: 3px 4px 5px rgb(143, 71, 66, 0.5);
}



.form_content, label{
    padding-bottom: 20px;
}

.form_content, label, h3{
    padding-bottom: 7px;
    padding-top: 8px;
}

input{
    font-size: 15px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
}

.form_top_content, h2{
    padding-left: 40px;
    padding-bottom: 20px;
}

.form_button, p {
    padding:12px 400px 0px 53.9px;
}
input[type="submit"]{
    color: white;
    background-color: blue;
    border-radius: 5px;
    margin-bottom: 30px;
    margin-top: 15px;
    border: none;
}

input[type="submit"]:hover{
    background-color: #4f69e0;
}

.link a{
    text-decoration: none;
    font-size: 20px;
    color:black;
}
.link, a2{
    display: flex;
    justify-content: center;
    justify-content:space-around;
}
.link{
    font-size: 20px;
    color:black;
}